{% extends "base.html" %}

{% block title %}
Страница аренды конат
{% endblock %}



{% block content %}



<div class="container">
    <div class="row mb-3">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/море.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната с видом на море.</p>
  </div>
</div></div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/бизнес.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната повышеной комфортности.</p>
  </div>
</div></div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/Эконом.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната эконом класса.</p>
  </div>
</div></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/балкон.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната с одним балконом.</p>
  </div>
</div></div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/горы.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната с видом на горы.</p>
  </div>
</div></div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
  <img src="../static/image/лес.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Комната с видом на лес.</p>
  </div>
</div></div>
    </div>

</div>


{% endblock %}